---
import BaseLayout from '@/layouts/BaseLayout.astro'
import TwoColumnLayout from '@/components/shared/TwoColumnLayout.astro'
---

<BaseLayout title="Contacte - Biombo Studio">
  <main>
    <TwoColumnLayout title="Contacte">
      <div slot="second-column">
        <p>Pàgina en construcció</p>
      </div>
    </TwoColumnLayout>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
