---
import BaseLayout from '@/layouts/BaseLayout.astro'
// This is the root index.astro file (Catalan)
---

<BaseLayout title="Projectes">

    <h1 class="hero-big-text-2">Projectes</h1> 

</BaseLayout>