---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PageSection from '@/components/shared/PageSection.astro'
---

<BaseLayout title="Serveis - Biombo Studio">
  <main>
    <PageSection
      title="Serveis"
      description="Comptem amb una xarxa de col·laboradors, experts en diverses disciplines, que aporten el seu coneixement per garantir resultats de primer nivell."
    />
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
