---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/shared/header/Header.astro'
import type { HomePage } from '@/shared/schemas/sanity/homePageSchema'
import Hero from '@/components/pages/homepage/Hero.astro'

interface Props {
  locale: 'ca' | 'es' | 'en'
  homePageData: HomePage | null
}

const { locale, homePageData } = Astro.props

const { hero = {} } = homePageData ?? {}

// Static title (field removed from schema)
const pageTitle = 'Biombo - Art, Events, Community'
---

<BaseLayout title={pageTitle}>
  <Header locale={locale} />
  <main id="main" class="main-content">
    <div class="horizontal-scroll-container">
      <section class="hero">
        <Hero locale={locale} heroData={hero} />
      </section>
      <section class="projects"></section>
    </div>
    <section class="about"></section>
    <section class="services"></section>
  </main>

  <style>
    .main-content {
      padding-inline-start: var(--padding-inline-desktop);
    }

    .horizontal-scroll-container {
      block-size: calc(100vh - var(--header-height));
      overflow-x: scroll;
      display: flex;
    }

    .hero {
      block-size: inherit;
      display: flex;
      align-items: center;
      position: relative;
      min-inline-size: 100vw;
    }
  </style>
</BaseLayout>
