---
import BaseLayout from '@/layouts/BaseLayout.astro'
const { pageTitle } = Astro.props
---

<BaseLayout title={pageTitle}>
  <main class="main-content">
    <h1 class="hero-title-internal">{pageTitle}</h1>
    <slot />
  </main>
</BaseLayout>

<style>
  .main-content {
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
  }
</style>
