/* Poppins Custom Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --color-primary: #F2F2F2;
  --color-secondary: #191919;
  
  /* Typography */
  --font-family-base: 'Poppins', system-ui, sans-serif;
  --font-size: 1.5rem;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;  

  --padding-inline-desktop: 4.6875rem;

  --header-height: 5.5rem;

}

/* Basic reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    line-height: 1.6;
    overflow: hidden;
    font-family: var(--font-family-base);
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: var(--font-size);
    letter-spacing: -0.04em;

  }


img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

ul,
ol,
[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}
 /* Visually hide content but keep it accessible to screen readers */
 .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
