---
import ClientLogosSlider from '@/components/shared/ClientLogosSlider.astro'

interface Props {
  clientsData?: {
    title?: string
  } | null
}

const { clientsData } = Astro.props
const title = clientsData?.title || 'Clients destacats que han confiat en nosaltres'
---

<section class="clients">
  <h2 class="hero-big-text-2" data-slide-up-animation>
    {title}
  </h2>

  <ClientLogosSlider speed="normal" pauseOnHover={true} />
</section>

<style>
  .clients {
    padding-block: clamp(4.375rem, 2.639rem + 7.124vi, 9.375rem);
    padding-inline: var(--padding-inline);
  }

  .hero-big-text-2 {
    text-wrap: unset;
    padding-inline-end: 2rem;
  }
</style>
