---
import ProjectLayout from '@/layouts/ProjectLayout.astro'
import PillButton from '@/components/shared/PillButton.astro'

const projectServices = [
  { name: 'Disseny gràfic', category: 'graphic-design' },
  { name: 'Il·lustració', category: 'illustration' },
  { name: 'Disseny i desenvolupament web', category: 'web-design' },
  { name: 'Brànding i Identitat Corporativa', category: 'branding' },
]
---

<ProjectLayout pageTitle="Obert x Vacances">
    <div class="client-info mobile">
    <h2 class="section-titles service-clients-font-size">Client:</h2>
      <p class="service-clients-font-size">Roca Umbert. Fàbrica de les arts</p>
    </div>

  <img class="hero-image" src="../../../public/projects-mock.jpg" alt="Obert x Vacances" />

  <section class="project-info-container">
    <div class="first-column">
      <h2 class="section-titles service-clients-font-size">Client:</h2>
      <p class="padding-bottom service-clients-font-size">Roca Umbert. Fàbrica de les arts</p>
      <h2 class="section-titles service-clients-font-size">Serveis:</h2>
      <div class="services-container">
        {projectServices.map((service) => <PillButton text={service.name} />)}
      </div>
    </div>
    <div>
      <p class="project-copy">
        Projecte de creació de marca: Conceptualització, naming, il·lustració i disseny gràfic, per
        a un projecte cultural infantil. Les entitats culturals de Granollers, Teatre Auditori,
        Centre Cultural i Brubaker s'uneixen per oferir una programació infantil conjunta, i
        d'aquesta manera neixen els PATINAUTES, els 3 viatgers interestel·lars que amb els seus
        patinets voladors, naveguen per l'espai a la recerca d'espectacles. La Pati, la Nau i en Ta
        doncs, estaran presents en tots els actes que es realitzen a la ciutat, i acompanyaran els
        petits en les seves aventures culturals.
      </p>
    </div>
  </section>

  <section class="two-image-layout">
    <div class="two-columns">
      <div class="red-background"></div>
      <div class="red-background"></div>
    </div>
    <div class="red-background standalone-image"></div>
  </section>
  <section class="standalone-text project-copy">
    <p>Projecte de creació de marca: Conceptualització, naming, il·lustració i disseny gràfic, per a un projecte cultural infantil. Les entitats culturals de Granollers</p>
  </section>

  <section class="three-image-layout">
    <div class="three-columns">
      <div class="blue-background"></div>
      <div class="blue-background"></div>
      <div class="blue-background"></div>
    </div>
    <div class="red-background standalone-image"></div>
  </section>

  <section class="similar-projects">
    <h3 class="similar-title">{"Projectes similars".toUpperCase()}</h3>
    <div class="similar-projects-container">
      <div class="similar-project-item">
        <img src="" alt="">
      </div>
      <div class="similar-project-item">
        <img src="" alt="">
      </div>
      <div class="similar-project-item">
        <img src="" alt="">
      </div>
      
    </div>
  </section>
</ProjectLayout>

<style>
    .mobile {
        display: none;
    }
   
  .hero-image {
    width: 100vw;
    max-inline-size: none;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1513/722;
    margin-inline: calc(-1 * var(--padding-inline));
    padding-block-start: var(--padding-block);
  }
  .padding-bottom {
    padding-block-end: 1.75rem;
  }
  .service-clients-font-size {
      font-size: clamp(1.125rem, 0.995rem + 0.534vi, 1.5rem);

  }

  .section-titles {
    font-weight: var(--font-weight-semibold);
  }
  .project-info-container {
    max-inline-size: 85.3125rem;
    display: flex;
    align-items: center;
    gap: clamp(3rem, -30.992rem + 42.424vi, 9.125rem);
    padding-block:clamp(2.313rem, 0.033rem + 9.35vi, 8.875rem);
  }

  .services-container {
    padding-block-start: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
 
  .project-copy {
    font-size: clamp(1.125rem, 0.908rem + 0.89vi, 1.75rem);
    line-height: 1.3;
  }
  .two-columns {
    display: flex;
    gap: clamp(1.25rem, 1.033rem + 0.89vi, 1.875rem);
  }
  .three-columns {
    display: flex;
    gap: clamp(1.25rem, 1.033rem + 0.89vi, 1.875rem);
  }
  .red-background {
    background-color: red;
    flex: 1;
    aspect-ratio: 1;
  }

  .standalone-image {
    margin-block-start: clamp(1.25rem, 1.033rem + 0.89vi, 1.875rem);;
    aspect-ratio: 16/9;
  }
  .standalone-text {
    padding-block: clamp(3.375rem, 2.246rem + 4.63vi, 6.625rem);
    padding-inline: calc(var(--padding-inline) + 2rem);
  }
  .similar-projects {
    padding-block-start: var(--padding-block);
}
.similar-title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size);
    padding-block-end: 4rem;
}

.similar-projects-container {
    display: flex;
    gap: 1.875rem;
  }

  .similar-project-item {
    flex: 1;
    aspect-ratio:3/4;
    background-color: green;
    border-radius:0.62rem;
  }
  .blue-background {
    background-color: blue;
    flex: 1;
    aspect-ratio: 217/328;
  }

  /* @media (width < 1266px) {
    .project-info-container {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--padding-block);
    } */
    

  @media (width < 992px) {
    .hero-image {
      aspect-ratio: 65/59;
    margin-block-start: 2rem;
    padding-block: 0rem;
    }
    .mobile {
        display: block;
    }

    .client-info {
        padding-block-start: var(--padding-block);
    }

    .first-column {
        display: none;
    }

    .standalone-text {
        padding-inline: var(--padding-inline)
        
  }

  .two-columns, .three-columns {
    flex-direction: column;
  }

  .red-background, .blue-background {
    aspect-ratio: 362 / 315;
    margin-inline: calc(0.875rem - var(--padding-inline));
    
  }

  
</style>
