---
import AboutSlider from '@/components/shared/AboutSlider.astro'
import type { AboutSection } from '@/lib/sanity/schemas/homePageSchema'
import type { DisplayImage } from '@/components/shared/AboutSlider.astro'

interface Props {
  sectionData?: AboutSection | null
}

const { sectionData: aboutSection } = Astro.props

const imagesToDisplay: DisplayImage[] = aboutSection?.images
  ? aboutSection.images.map((img) => img as DisplayImage)
  : []
---

<section id="about">
  {
    aboutSection && (
      <AboutSlider
        title={aboutSection.title}
        description={aboutSection.description}
        images={imagesToDisplay}
      />
    )
  }
</section>
