---
import LogoFontVariantRaw from '@/assets/logo-font-variant.svg?raw'
---

<a href="/" class="logo-link">
  <span class="logo-text">Biombo Studio</span>
  <span class="logo-svg-hover">
    <Fragment set:html={LogoFontVariantRaw} />
  </span>
</a>

<style>
  .logo-link {
    font-weight: var(--font-weight-bold);
    font-size: clamp(1.563rem, 1.454rem + 0.445vi, 1.875rem);
    position: relative;
    block-size: 2rem;
    line-height: 2rem;
    color: var(--color-primary);
    text-decoration: none;
  }


  .logo-svg-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  .logo-svg-hover svg {
    block-size: 1.875rem;
    fill: currentColor;
  }

  .logo-link:hover .logo-text {
    opacity: 0;
  }
  
  .logo-link:hover .logo-svg-hover {
    opacity: 1;
    pointer-events: auto;
  }
</style>
