---
import type { ServicesSection } from '@/lib/sanity/schemas/homePageSchema'
import ServicesList from '@/components/shared/ServicesList.astro'

interface Props {
  servicesData?: ServicesSection | null
}

const { servicesData } = Astro.props as Props
---

<section id="services">
  <div class="services-hero">
    {servicesData?.title && <h2 class="services__title">{servicesData.title.toUpperCase()}</h2>}
    {
      servicesData?.subtitle && (
        <h3 class="hero-big-text-2" data-slide-up-animation>
          {servicesData.subtitle}
        </h3>
      )
    }
    {servicesData?.text && <p class="text services__text">{servicesData.text}</p>}
  </div>

  <ServicesList services={servicesData?.selectedServices} />
</section>

<style>
  #services {
    --internal-padding-block: 7.8125rem;
  }
  .text {
    font-size: var(--font-size-homepage-sections);
    font-weight: var(--font-weight-light);
    max-width: 51rem;
    line-height: 1.184;
  }

  .services-hero {
    padding-block-start: var(--padding-block);
    padding-inline-start: var(--padding-inline);
    padding-inline-end: 7.25rem;
  }

  .services__title {
    font-size: clamp(1.375rem, 1.028rem + 1.425vi, 2.375rem);
    font-weight: var(--font-weight-light);
  }

  .services-hero .services__title {
    margin-block-end: var(--internal-padding-block);
  }

  .services__text {
    margin-block: 8.0625rem;
    margin-inline-start: auto;
    margin-inline-end: 2rem;
  }

  @media (width < 1025px) {
    .services-hero {
      height: auto;
      padding-block: var(--padding-block);
      padding-inline-end: var(--padding-inline);
    }

    .services-hero .services__title {
      margin-block-end: 0rem;
    }

    .hero-big-text-2 {
      font-weight: var(--font-weight-regular);
      padding-block: var(--padding-block);
      /* Ensure stable width for iOS text measurement */
      width: 100%;
      box-sizing: border-box;
    }
    .services__text {
      margin-block: 0;
      margin-inline: 0;
    }

    :global(.services-list) {
      padding-block: 0rem;
    }
  }
</style>
