---
export interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class={`two-column-layout ${className}`}>
  <aside class="first-column">
    <slot name="first-column" />
  </aside>
  <div class="second-column">
    <slot name="second-column" />
  </div>
</div>

<style>
  .two-column-layout {
    inline-size: 100%;
    max-inline-size: 85.3125rem;
    display: flex;
    /* align-items: center; */
    /* gap: clamp(3rem, -30.992rem + 42.424vi, 9.125rem); */
    padding-block: var(--padding-block);
    margin-inline: auto;
  }

  .first-column {
    min-width: 35.5%;
    max-width: 35.5%;
  }

  .second-column {
    flex: 1;
  }

  @media (width < 992px) {
    .two-column-layout {
      padding-inline: var(--padding-inline);
      flex-direction: column;
      align-items: flex-start;
      /* gap: 2rem; */
    }

    .first-column {
      width: 100%;
      padding-block-end: var(--padding-block);
    }

    .second-column {
      width: 100%;
    }
  }
</style>
