---
export interface Props {
  class?: string
  title?: string
  description?: string | null
}

const { class: className = '', title, description } = Astro.props
const hasCustomSecondColumn = Astro.slots.has('second-column')
---

<div class={`two-column-layout ${className}`}>
  <aside class="first-column">
    {title ? <h1 class="hero-title-internal">{title}</h1> : <slot name="first-column" />}
  </aside>
  <div class="second-column">
    {
      description && !hasCustomSecondColumn ? (
        <div class="content-wrapper">
          <p set:html={description} />
        </div>
      ) : (
        <div class="content-wrapper">
          <slot name="second-column" />
        </div>
      )
    }
  </div>
</div>

<style>
  .two-column-layout {
    margin-block-start: var(--header-height);
    inline-size: 100%;
    /* max-inline-size: 85.3125rem; */
    display: flex;
    /* align-items: center; */
    /* gap: clamp(3rem, -30.992rem + 42.424vi, 9.125rem); */
    padding-block: var(--padding-block);
    margin-inline: auto;
    padding-inline: var(--padding-inline);
  }

  .first-column {
    /* margin-inline-start: var(--padding-inline); */
    min-width: 35.5%;
    max-width: 35.5%;
  }

  .second-column {
    /* margin-inline-end: var(--padding-inline); */

    flex: 1;
  }

  @media (width < 992px) {
    .two-column-layout {
      padding-inline: var(--padding-inline);
      flex-direction: column;
      align-items: flex-start;
      /* gap: 2rem; */
    }

    .first-column {
      width: 100%;
      padding-block-end: var(--padding-block);
    }

    .second-column {
      width: 100%;
    }
  }

  :global(.content-wrapper) {
    font-size: clamp(1.125rem, 0.691rem + 1.781vi, 2.375rem);
    line-height: 1.2;
    padding-block-start: 0.85rem;
    letter-spacing: -0.04em;
    margin-block-end: 0px !important;
  }

  @media (width < 992px) {
    :global(.content-wrapper) {
      padding-block-start: 0rem;
    }
  }
</style>
